<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px
        }
        h1 {
        color: #4CAF50;
        }
        a {
            color: #4CAF50;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Booking Successful!</h1>
    <p>Your booking has been confirmed. You seat <strong>{{ seat }}</strong>.</p>
    <p><a href="{% url 'seating_plan' %}">Back to Seating Plan</a></p>
    
</body>
</html>